.select-box--box {
    width: 100%;
}

.select-box--selected-item {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 4px 12px;
    vertical-align: middle;
}

.select-box--items div {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 6px;
    padding-left: 20px;
}

.select-box--arrow {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: #000;
}